<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hotspray_tool" params="parent *origin prefix:=${''}">


  <xacro:include filename="$(find hotspray_ur5_description)/urdf/hotspray_extruder.urdf.xacro"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
  <xacro:include filename="$(find hotspray_ur5_description)/urdf/_d435_real.gazebo.xacro"/>
  
<link name="hotspray_tool_link"/>
        <joint name="tool_to_ur5_tool0" type="fixed">
          <parent link="${parent}"/>
          <child link="hotspray_tool_link"/>
          <xacro:insert_block name="origin"/>
        </joint>




    <!-- tool camera_depth_frame       
 -->  
  <xacro:hotspray_extruder parent="hotspray_tool_link">
    <origin  xyz="0 0 0" rpy="0 0 0" />
  </xacro:hotspray_extruder>


<xacro:arg name="use_nominal_extrinsics" default="true" />
  <xacro:sensor_d435i parent="hotspray_tool_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <!--origin xyz="0.05 0 0.04" rpy="0 ${-pi/2} 0"/-->
    <origin xyz="0 0.0175 0.023" rpy="0 ${-pi/2} ${pi/2}"/>


  </xacro:sensor_d435i>



<!-- Realsense Gazebo Plugin -->
<xacro:property name="name" default="camera" />
<xacro:property name="topics_ns" default="d435i" />

    <xacro:gazebo_d435 camera_name="${name}" reference_link="${name}_link" topics_ns="${topics_ns}" depth_optical_frame="${name}_depth_optical_frame" color_optical_frame="${name}_color_optical_frame" infrared1_optical_frame="${name}_left_ir_optical_frame" infrared2_optical_frame="${name}_right_ir_optical_frame">
  </xacro:gazebo_d435>


<link name="ensenso_move_frame"/>
        <joint name="ensenso_move_frame_joint" type="fixed">
          <parent link="camera_link"/>
          <child link="ensenso_move_frame"/>
          <origin rpy="${pi/2} 0 0"/>
        </joint>


  </xacro:macro>
</robot>