<?xml version="1.0"?>
<launch>
  <!-- parameters of region of interest cube
  <arg name="roi_lower" default="{'x': 0.0, 'y': 0.0, 'z': 0.0}"/>
  <arg name="roi_upper" default="{'x': 0.0, 'y': 0.0, 'z': 0.0}"/>
  <arg name="camera_serial" default="181999"/>
  -->

  <!-- Brings up realsense camera-->
<remap from="/camera/depth/color/points" to="/point_cloud" />

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_pointcloud" value="true"/>
    <arg name="enable_sync" value="true"/>
  </include>
  
  <!-- set the region of interest of the camera 
  <node name="set_roi_node" pkg="hotmail_ur5_support" type="set_region_of_interest">
    <rosparam param="lower_point" subst_value="True">$(arg roi_lower)</rosparam>
    <rosparam param="upper_point" subst_value="True">$(arg roi_lower)</rosparam>
  </node>
-->
  <!-- TODO: brauchen wir?: Realsense request server 
  <node name="request_data_node" pkg="hotmail_ur5_support" type="realsense_interface"/>
-->
</launch>