<?xml version="1.0"?>
<launch>

  <arg name="sim_robot" default="true"/>
  <arg name="pipeline" default="command_planner"/>
  <arg name="robot_name" default="ur5"/>
  <arg name="robot_description" value="$(arg robot_name)_description"/>
  <arg name="urdf_file" default="$(find hotspray_ur5_description)/urdf/hotspray_ur5_demo.urdf.xacro"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <param name="robot_description" type="str" command="$(find xacro)/xacro --inorder '$(arg urdf_file)' sim:=$(arg sim_robot)"/>


  <!-- load simulated robot -->
  <group if="$(arg sim_robot)">
    <include file="$(find hotspray_ur5_bringup)/launch/ur5_gazebo.launch"/>
  </group>

  <!-- load real robot -->
  <group unless="$(arg sim_robot)">
    <include file="$(find hotspray_ur5_bringup)/launch/ur5_real.launch">
      <arg name="robot_ip" value="192.168.1.10"/>
    </include>
  </group>
  


  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim_robot)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <!--rosparam command="load" file="$(find hotspray_ur5_moveit_config)/config/fake_controllers.yaml"/-->
  <!--rosparam command="load" file="$(find hotspray_ur5_moveit_config)/config/joint_names.yaml"/-->

  <include file="$(find hotspray_ur5_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="fake_execution" value="false"/>
    <arg name="pipeline" value="$(arg pipeline)" />
  </include>

  <!-- tool -->
  <node name="hotspray_ur5_support" pkg="hotspray_ur5_support" type="spindle_sim" if="$(arg sim_robot)"/>

  <!-- camera if not simulated!-->
  <include file="$(find hotspray_ur5_support)/launch/setup_camera.launch" unless="$(arg sim_robot)">
    <!--arg name="roi_lower" value="{'x': -0.16, 'y': -0.4, 'z': 0.0}"/>
    <arg name="roi_upper" value="{'x':  0.16, 'y':  0.4, 'z': 0.6}"/-->
  </include>

</launch>
